
html, body {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

body {
	background-color: #373D45;
	color:#979c9b;
   }
   
main {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
  
@media screen and (max-width: 500px) {
	.header {
		display: block;
	}
}	

#clock {
	color: #ffffff;
	margin-bottom: 5px;
}
#datebox {
	display: inline-block;
	font-weight: bold;
	}

.header {
	width: 60px;
	text-align: right;
	font-weight: bold;
	margin: 0 10px;
}	

li {
	font-size: 17px;
	font-weight: bold;
	font-family: "ubuntu mono";
	display: inline-block;
	list-style: none;
	margin: 2px 5px; 
}

a {
	color:#979c9b;
	text-decoration: none;
}

a:hover {
	color: white;
}

#input1 {
	background: #454B53;
	color: white;
	border: none;
	font-family: "ubuntu mono";
	font-size: 17px;
	font-weight: bold;
	height: 17px;
	margin-top: 5px;
	padding: 5px;
	transition: .2s;
	width: 100%; 
	outline: none;
	text-transform: uppercase;
}

#help {
	display: none;
	margin-top: 10px;
}

.col {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.cmdH {
	display: block;
	text-align: right;
	color: white;
}
.actH {
	display: block;
	color: white;
}
.cmd {
	display: block;
	text-align: right;
}
.act {
	display: block;
}


/* COLORS */
.purple {
	color: #dd98f2;
}
.red {
	color: #f68678;
}
.yellow {
	color: #f7e595;
}
.green {
	color: #92d690;
}
.blue {
	color: #8293ef;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


